Repository elias-pap/youtube-share-clip: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc.json:

{
  "src/**/*.js": "eslint",
  "src/**/*": "prettier --check"
}

test: reduce report size
  package.json
  playwright.config.js
Due: none

ci: restore timeout
  playwright.config.js
Due: none

ci: add test reports (#23)
  .github/workflows/ci.yml
  package.json
  playwright.config.js
Due: none

test: click on first non-live video
  src/tests/utils.js
Due: eslint, prettier --check

test: click on first non-live video (#25)
  src/tests/utils.js
Due: eslint, prettier --check

fix: recreate end-at when needed
  src/extension.js
Due: eslint, prettier --check

fix: recreate end-at when needed (#26)
  src/extension.js
Due: eslint, prettier --check

chore: bump version
  manifest.json
  package-lock.json
  package.json
Due: none

chore: bump version (#27)
  manifest.json
  package-lock.json
  package.json
Due: none

ci: run pre-commit
  .github/workflows/ci.yml
Due: none

fix: expand bash variable
  .github/workflows/ci.yml
Due: none

fix(ci): use gh variables for branch names
  .github/workflows/ci.yml
Due: none

test pre-commit on ci
  .github/workflows/ci.yml
  src/extension.js
Due: eslint, prettier --check

ci: checkout both branches
  .github/workflows/ci.yml
Due: none

ci: prepend remote name
  .github/workflows/ci.yml
Due: none

ci: test with hardcoding branch names
  .github/workflows/ci.yml
Due: none

ci: enable verbose logging
  .github/workflows/ci.yml
Due: none

ci: add some git commands
  .github/workflows/ci.yml
Due: none

ci: add more git commands
  .github/workflows/ci.yml
Due: none

ci: add --no-stash option
  .github/workflows/ci.yml
Due: none

ci: restore gh variables
  .github/workflows/ci.yml
Due: none

ci: skip fetching depth
  .github/workflows/ci.yml
Due: none

ci: restore fetch-depth, skip remote name
  .github/workflows/ci.yml
Due: none

ci: restore remote names
  .github/workflows/ci.yml
Due: none

ci: skip --no-stash
  .github/workflows/ci.yml
Due: none

ci: restore --no-stash
  .github/workflows/ci.yml
Due: none

fix: restore ci pre-commit test
  src/extension.js
Due: eslint, prettier --check

ci: run pre-commit (#28)
  .github/workflows/ci.yml
Due: none

chore: update icons
  images/icon-128.png
  images/icon-16.png
  images/icon-32.png
  images/icon-48.png
Due: none

feat: add popup with feedback button
  manifest.json
  package.json
  src/popup.html
Due: prettier --check

Add feedback button (#30)
  images/icon-128.png
  images/icon-16.png
  images/icon-32.png
  images/icon-48.png
  manifest.json
  package.json
  src/popup.html
Due: prettier --check

build: update bundle scripts
  package.json
Due: none

build: expand glob for images
  package.json
Due: none

refactor: simplify bundle scripts
  package.json
Due: none

build: update bundle scripts (#31)
  package.json
Due: none

build: update deps
  package-lock.json
  package.json
  src/extension.js
  src/utils/other.js
  src/utils/queries.js
Due: eslint, prettier --check

refactor: move styles to head
  src/popup.html
Due: prettier --check

ci: diff implies no stash in latest lint-staged version
  .github/workflows/ci.yml
Due: none

Update dependencies (#32)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/extension.js
  src/popup.html
  src/utils/other.js
  src/utils/queries.js
Due: eslint, prettier --check

build: bump version
  manifest.json
  package-lock.json
  package.json
Due: none
