Repository elias-pap/youtube-share-clip: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

build: bump version (#33)
  manifest.json
  package-lock.json
  package.json
Due: none

ci: ignore tags for trigger
  .github/workflows/ci.yml
Due: none

fix(ci): trigger on push to branches ignoring tags
  .github/workflows/ci.yml
Due: none

build: bump version
  manifest.json
  package-lock.json
  package.json
Due: none

ci: ignore tags for trigger (#34)
  .github/workflows/ci.yml
  manifest.json
  package-lock.json
  package.json
Due: none

docs: update screenshots
  README.md
Due: none

docs: update screenshots (#35)
  README.md
Due: none

docs: add comparison with native Clip feature
  README.md
Due: none

docs: update 2nd advantage description
  README.md
Due: none

docs: add comparison with native Clip feature (#36)
  README.md
Due: none

fix: update share button query
  src/utils/queries.js
Due: eslint, prettier --check

fix(tests): avoid using english labels for queries
  src/tests/utils.js
Due: eslint, prettier --check

Fix share button query (#37)
  manifest.json
  package-lock.json
  package.json
  src/tests/utils.js
  src/utils/queries.js
Due: eslint, prettier --check

docs: update image url
  README.md
Due: none

docs: update image url (#39)
  README.md
Due: none

feat(popup.html): add rate button and update colors
  src/popup.html
Due: prettier --check

feat(popup.html): add rate button and update colors (#40)
  src/popup.html
Due: prettier --check

build: update deps
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

build: lock node version
  .npmrc
  package-lock.json
  package.json
Due: none

Update dev deps (#41)
  .github/workflows/ci.yml
  .npmrc
  package-lock.json
  package.json
Due: none

test: fix "Coming from home page" test
  src/tests/constants.js
  src/tests/extension.test.js
  src/tests/utils.js
Due: eslint, prettier --check

build(jsconfig.json): fix ts warning
  jsconfig.json
Due: none

test: mute audio
  src/tests/fixtures.js
Due: eslint, prettier --check

test: use force true on video title click
  src/tests/utils.js
Due: eslint, prettier --check

Revert "test: use force true on video title click"
  src/tests/utils.js
Due: eslint, prettier --check

fix: try waiting
  src/tests/utils.js
Due: eslint, prettier --check

test: try increasing screen size
  src/tests/fixtures.js
Due: eslint, prettier --check

fix(tests): remove manual waiting
  src/tests/utils.js
Due: eslint, prettier --check

fix: test fixes and refactoring
  src/constants/utils/queries.js
  src/tests/constants.js
  src/tests/fixtures.js
  src/tests/utils.js
  src/utils/queries.js
Due: eslint, prettier --check

fix(queries): make share button query search for share icon
  src/constants/utils/queries.js
Due: eslint, prettier --check

feat: update share button query
  src/constants/utils/queries.js
  src/tests/utils.js
  src/utils/queries.js
Due: eslint, prettier --check

refactor(getStartAtCloneLabelElement): fix ts error
  src/extension.js
  src/tests/utils.js
  src/utils/queries.js
Due: eslint, prettier --check

refactor(getShareButton query): separate icon and button getters
  src/extension.js
  src/utils/queries.js
Due: eslint, prettier --check

build: revert version bump
  manifest.json
  package-lock.json
  package.json
Due: none

refactor: break into more functions and other
  src/extension.js
  src/utils/queries.js
Due: eslint, prettier --check

test(clickOnAVideo): assert correct page
  src/tests/utils.js
Due: eslint, prettier --check

test: do not mute video, add console logging
  src/tests/extension.test.js
  src/tests/utils.js
Due: eslint, prettier --check

test: update url checks
  src/tests/extension.test.js
  src/tests/utils.js
Due: eslint, prettier --check

Path conditions:
  eslint: any of: src/**/*.js
  prettier --check: any of: src/**/*
